.Weather {
  font-family: "Roboto Condensed", sans-serif;

  margin: 30px auto 0px;
  height: 250px;
  max-width: 700px;
  padding: 15px;

  border: 2.5px solid #767676;
  border-radius: 12px;
  background: linear-gradient(to bottom, #13547a 0%, #80d0c7 100%);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 35px;
  color: black;
  margin: 15px 10px 0 15px;
}

.Weather p {
  margin: 5px 15px;
}

.Weather ul {
  margin: 20px 0 10px;
  padding: 0;
}
.Weather li {
  list-style: none;
  font-size: 13px;
}
.Weather canvas {
  padding: 10px;
}
.Weather .temperature {
  font-size: 50px;
  line-height: 35px;
}

.Weather .btn {
  background: linear-gradient(to top, #13547a 0%, #80d0c7 100%);
  color: #fde9df;
  border: 2px solid #767676;
  border-radius: 12px;
  transition: all 150ms ease-in-out;
}

.Weather .btn:hover {
  color: #13547a;
  background: #80d0c7;
}

.Weather .form-control {
  border: 2px solid #767676;
  background: #80d0c7;
  border-radius: 12px;
}
